body,ul,li,h1,h2
{   margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
}
header
{   position: fixed;
    background-color: rgb(161, 11, 11);
    text-align: center;
    padding: 30px;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1
{   color: white;
    border: 7px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;
    font-size: 32px;
}
.banner
{
    position: relative;
}
.banner img{
    max-width: 100%;
}
.banner .welcome
{
    background-color: #feb614;
    color: white;
    padding: 50px;
    position: absolute;
    left: 15%;
    top: 30%;
    border-radius: 50px;
}
.banner .h2
{
    font-size: 114px;
}
.banner .span
{
    font-size: 1.3em;
}
nav
{
    background-color: rgb(184, 206, 245);
    padding: 15px;
    position: sticky;
    top: 125px;
}
nav ul
{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li
{
    width: 25%;
    display: inline-block;

}
nav li a{
    text-decoration: none;
    color: rgb(161, 11, 11);
}
main
{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;

}
article h2
{
  color: #f63232;
  font-size: 38px;
}
article p{
    line-height: 2em;
    color : #4b4b4b;
}
.images
{
    text-align: center;
   margin: 80px 0;
    white-space: nowrap;
}
.images li
{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
.images li img
{   border-radius: 5%;
    max-width: 100%;
}
.joinn
{
    background-color: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
    line-height: 2em;
}
.joinn h2{
    border: 3.5px solid grey;
    border-radius: 36px;
    color: #f63232;
    padding: 6px 10px;
    width: 20%;
    display: inline-block;
}
form input
{   margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
}
footer{
    background-color: red;
    text-align: center;
    color: white;
    padding: 10px;
}
/* pseudo classes */

nav ul li a:hover
{
     text-decoration: underline;
 }
 .images li:hover
 {
     position: relative;
     top: -8px;
 }
 form input:focus
 { 
     border: 2px dashed #4b4b4b;
     outline: none;
 }
 form input:valid
 {
     border: 2px solid #7bd300;
 }

 /* nav li:first-child
 {
     border: 3px red solid;
 } */

 article p::first-line
 {
     font-weight: bold;
     font-size: 1.2em;
 }
 section.joinn p::first-letter
 {
     font-weight: bold;
     font-size: 1.2em;   
 }
 p::selection
 {
     background-color: red;
     color: white;
 }
 p ::after
 {
     content: '....'
 }